@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-primary-dark: #4338CA;
  --color-primary-light: #818CF8;
  --color-accent: #F59E0B;
  --color-accent-dark: #D97706;
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0F0F1A;
}